<section class="main-container">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4341936610897077"
    crossorigin="anonymous"
  ></script>
  <div class="main-page">
    <div class="header">
      <h1 *ngIf="!arrived; else elseBlock">आपको अग्रिम होली की शुभकामनाएँ</h1>
      <ng-template #elseBlock>
        <h1 class="title">होली की हार्दिक शुभकामनाएँ</h1>
      </ng-template>
    </div>

    <div class="main-content">
      <span class="holi-time-left">
        Time left for Holi: {{ timeLeft.days }} days, {{ timeLeft.hours }} hour,
        {{ timeLeft.minutes }} minutes
      </span>

      <p class="message">
        {{
          !arrived
            ? receiverName
              ? receiverName + " की और से आपको होली की शुभकामनाएं!"
              : "होली की शुभकामनाएं!"
            : receiverName
            ? receiverName +
              " की और से आपको होली की अग्रिम
        शुभकामनाएं!"
            : "होली की अग्रिम शुभकामनाएं!"
        }}
      </p>

      <div class="main-input-button">
        <!-- Input remains visible until user submits their name -->
        <input
          *ngIf="!isNameSubmitted"
          type="text"
          [(ngModel)]="yourName"
          placeholder="यहाँ अपना पूरा नाम लिखें..."
          class="name-input"
        />
        <button
          *ngIf="!isNameSubmitted"
          class="share-button"
          (click)="shareHoliWish()"
        >
          लिंक साझा करें
        </button>
      </div>
    </div>
  </div>
</section>
